.mainContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(236, 130, 130);
    overflow-y: scroll;
    
    
}
.childContainer{
    background-color: gray;
    position: relative;
    
}
.carouselDiv{
    /* width: 50%;
    height: 60%;
    box-shadow: 0 0 20px gray;
     */

     /* display: flex;
     justify-content: center;
     align-items: center; */
     position: absolute;
     left: 25%;
     top: 10%;

}
.imageAndLabels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}