<!-- <p>employee-registration works!</p> -->

<h1>Add emplyee</h1>

<label for="">Emp name :</label>
<input type="text" [(ngModel)]="empName" /><br />
<label for="">Emp role :</label>
<input type="text" [(ngModel)]="empRole"/><br />

<button (click)="empAdding()">add</button>

<h1>Registered users</h1>
<table border="1" class="table table-dark">

        <thead>
            <tr>
                <th>SNO</th>
                <th>Employee Name</th>
                <th>Employee Role</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees ;let i=index">
                <td>{{i+1}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.role}}</td>
            </tr>
        </tbody>
</table>
