<!-- <p>directives works!</p> -->


<h5 *ngFor="let age of ages">My age is {{age}}</h5>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>
<ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}</option>
</select>

<h1 *ngFor="let product of products">{{product.name}} price is {{product.price}}</h1>

<table border="1" class="table table-dark">
    <thead>
        <tr>
            <th>SNO</th>
            <th>Proctuct name</th>
            <th>Price</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let product of products ;let i=index">
            <td>{{i}}</td>
            <td>{{product.name | uppercase}}</td>
            <!-- <td>{{product.price}}</td> -->
            <!-- <td [ngStyle]="{'color':product.price<5000 ?'green':'red'}">{{product.price}}</td> -->
                <td [ngClass]="{'green':product.price<1000,'red':product.price>1000}">{{product.price}}</td>
              
        </tr>

    </tbody>
</table>

<h1 *ngIf="true">Hello</h1>
<h1 *ngIf="false">Welcome</h1>

<h1>{{today}}</h1>
<h1>{{today | date}}</h1>
<h1>{{today | date:"dd/MM/yyyy"}}</h1>
<h1>{{today | date:"yy-MM-dd"}}</h1>