<!-- <p>employee works!</p> -->

<h1>Employees</h1>

<button (click)="bonus()" class="btn btn-info">50KBonus</button>
<button (click)="hike()" class="btn btn-info">Hike</button>
<input class="form-control w-25" type="text" placeholder="search name" [(ngModel)]="term" (keyup)="search()">

<select class="form-control w-50" [(ngModel)]="role" (change)="roleFilter()" name="" id="">
    <option >UIDeveloper</option>
    <option >Software Developer</option>
    <option >Data engineer</option>
    <option >Testing Engineer</option>
    
</select>
<button class="btn btn-secondary" (click)="highToLow()">Packages Hige to Low</button>
<button class="btn btn-success" (click)="lowToHigh()">Packages Low to High</button>
<button class="btn btn-danger" (click)="total()">Cost to company</button><br>

<label for="">Name :</label>
<input type="text" [(ngModel)]="name"><br>
<label for="">Experience :</label>
<input type="text" [(ngModel)]="experience"><br>
<label for="">Package :</label>
<input type="text" [(ngModel)]="package"><br>
<label for="">Role :</label>
<input type="text" [(ngModel)]="empRole"><br>

<button class="btn btn-warning" (click)="add()">Add</button>



<table class="table table-success">

    <thead>
        <tr>
            <th>SNO</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i=index">
            <td>{{i+1}}</td>
            <td [ngClass]="{'text-danger':employee.package<=500000,'text-primary':employee.package>500000 && employee.package<=1000000,'text-success':employee.package>1000000}">{{employee.name | uppercase}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td>
                <button *ngIf="employee.package>500000" (click)="delete(i)" class="btn btn-danger">delete</button>
            </td>

        </tr>
        <tr>
            
        </tr>

    </tbody>
</table>
