<!-- <p>create-vehicle works!</p> -->
<form action="" [formGroup]="vehicleForm">
    <h1>Create vehicle form</h1>

    <label for="">vehicle : </label>
    <input type="text" formControlName="Vehicle"><br>

    <label for="">manifacture : </label>
    <input type="text" formControlName="manufacturer"><br>

    <label for="">model : </label>
    <input type="text" formControlName="model"><br>

    <label for="">type : </label>
    <input type="text" formControlName="type"><br>

    <label for="">fuel : </label>
    <input type="text" formControlName="fuel"><br>

    <label for="">color : </label>
    <input type="text" formControlName="color"><br>

    <label for="">image : </label>
    <input type="text" formControlName="image"><br>

    <label for="">cost : </label>
    <input type="text" formControlName="cost"><br>

    <!-- <label for="">id : </label>
    <input type="text"><br> -->

    <button  (click)="submit()" class="btn btn-warning" >submit</button>
</form>