<div class="mainContainer">
  <input type="text" placeholder="serarch" [(ngModel)]="searchWord" (keyup)="filterComponent()" />

  <label for="">SortColumn</label>
  <select name="" id="" [(ngModel)]="coulumnName">
    <option value="name">name</option>
    <option value="phone">phone</option>
    <option value="city">city</option>
    <option value="dob">dob</option>
    <option value="profile_picture">profile_picture</option>
    <option value="email">email</option>
    <option value="school_name">school_name</option>
    <option value="school_city">school_city</option>
    <option value="school_pin">school_pin</option>
    <option value="id">id</option>
  </select>
  <label for="">sortOrder</label>
  <select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  
  </select>
  <button (click)="sortedComponent()" class="btn btn-primary">Sort</button>

  <label for="">limit :</label>
  <select name="" id="" [(ngModel)]="limit">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
  </select>
  <label for="">PageNumber :</label>
  <select name="" id="" [(ngModel)]="pageNumber">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <button (click)="paginationComponent()" class="btn btn-success">pagination</button>

  <button class="btn btn-dark" routerLink="../createIdcards">Craete new Id card</button>

  <div class="childContainer px-4 pt-2">
    <div class="cards card my-2 p-2" *ngFor="let student of students">
      <!-- <button (click)="deleteComponent(student.id)"  class="btn btn-danger" >Delete</button> -->
      <img class="backImage" src="{{ student.school_logo }}" alt="" />
      <div class="row g-0">
        <div class="col-md-3 left">
          <div class="logoDiv mb-2">
            <img
              src="{{ student.school_logo }}"
              class="img-fluid rounded-start"
              alt="not loaded"
            />
          </div>
          <div class="profilePicDiv mb-2">
            <img
              src="{{ student.profile_picture }}"
              class="img-fluid rounded-start"
              alt="not noaded"
            />
          </div>
        </div>

        <div class="col-md-9 right">
          <div class="card-body">
            <h4 class="mb-1 fw-bold titleColor align-middle">
              {{ student.school_name | slice : 0 : 20 }}
            </h4>
            <label for="" class="citylabel me-4"
              ><b class="headcolor">city : </b>{{ student.school_city }}</label
            >
            <label for="">
              <b class="headcolor">pincode : </b>
              <small>{{ student.school_pin }}</small></label
            >
            <hr class="my-1" />
            <label for="" class="labels"><b class="color">Student Name : </b></label>
            <label for="">{{ student.name }}</label
            ><br />
            <label for="" class="labels"><b class="color">Student id : </b></label>
            <label for="">{{ student.id }}</label
            ><br />
            <label for="" class="labels"><b class="color">Phone : </b></label>
            <label for="">{{ student.phone }}</label
            ><br />
            <label for="" class="labels"><b class="color">Dob : </b></label>
            <label for="">{{ student.dob}}</label
            ><br />
            <label for="" class="labels"><b class="color">City : </b></label>
            <label for="">{{ student.city }}</label
            ><br />
            <!-- <button (click)="deleteComponent(student.id)"  class="btn btn-danger" >Delete</button> -->
          </div>
        </div>
        <div class="bottom d-flex justify-content-between">
          <button class="btn btn-primary">View</button>
          <button class="btn btn-warning" (click)="edit()">Edit</button>
          <button (click)="deleteComponent(student.id)"  class="btn btn-danger" >Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
