<!-- <p>rectangle works!</p> -->

<div class="rectangleMainContainer">
    <div class="childContainer">
        <h2>RECTANGLE</h2>
      <div class="inputsDiv">
        <label for="">Length :</label>
        <input class="inputs" type="number" [(ngModel)]="length" />
      </div>
      <div class="inputsDiv">
        <label for="">Breadth :</label>
        <input class="inputs" type="number" [(ngModel)]="breadth" />
      </div>
      
        <button [disabled]="!length || !breadth" (click)="calcArea()" class="calcutationButtons">Area</button>
        <button [disabled]="!length || !breadth" (click)="calcPerimeter()" class="calcutationButtons">Perimeter</button>

      <h3>Result : {{result}}</h3>
    </div>
  </div>
