<!-- <p>vehicle works!</p> -->
<h1>Vehicle component</h1>
<input type="text" placeholder="search" [(ngModel)]="term" (keyup)="filter()" />
<!-- sorting -->
<div class="header">
  <select name="" id="" [(ngModel)]="coulumnName">
    <option value="Vehicle">Vehicle</option>
    <option value="manufacturer">manufacturer</option>
    <option value="model">model</option>
    <option value="type">type</option>
    <option value="fuel">fuel</option>
    <option value="color">color</option>
    <option value="image">image</option>
    <option value="cost">cost</option>
    <option value="id">id</option>
  </select>
  <select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
  <button class="btn btn-warning" (click)="sorting()">sort</button>

  <!-- pagiantion -->
  <select name="" id="" [(ngModel)]="limit">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select>
  <select name="" id="" [(ngModel)]="pageNumber">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <button class="btn btn-primary" (click)="pagination()">Pagination</button>
</div>
<table border="1" class="table table-dark table-bordered">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Vehicle</th>
      <th>manufacturer</th>
      <th>model</th>
      <th>type</th>
      <th>fuel</th>
      <th>color</th>
      <th>image</th>
      <th>cost</th>
      <th>id</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let vehicle of vehicles; let i = index">
      <td class="align-middle text-center">{{ i }}</td>
      <td class="align-middle text-center">{{ vehicle.Vehicle }}</td>
      <td class="align-middle text-center">{{ vehicle.manufacturer }}</td>
      <td class="align-middle text-center">{{ vehicle.model }}</td>
      <td class="align-middle text-center">{{ vehicle.type }}</td>
      <td class="align-middle text-center">{{ vehicle.fuel }}</td>
      <td class="align-middle text-center">{{ vehicle.color }}</td>
      <td class="align-middle text-center">
        <img src="{{ vehicle.image }}" alt="" width="50px" height="50px"/>
      </td >
      <td class="align-middle text-center">{{ vehicle.cost | price}}</td>
      <td class="align-middle text-center">{{ vehicle.id }}</td>
      <td class="align-middle d-flex">
        <button class="btn btn-danger " (click)="delete(vehicle.id)">Delete</button>
        <button class="btn btn-warning"  routerLink="/dashboard/vehicle-details/{{vehicle.id }}">View</button>
        <button class="btn btn-info" routerLink="/dashboard/edit-vehicle/{{vehicle.id }}">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
