<!-- <p>rating works!</p> -->



<h1 *ngIf="rating>=5">⭐⭐⭐⭐⭐</h1>
<h1 *ngIf="rating>=4 && rating<5">⭐⭐⭐⭐</h1>
<h1 *ngIf="rating>=3 && rating<4">⭐⭐⭐</h1>
<h1 *ngIf="rating>=2 && rating<3">⭐⭐</h1>
<h1 *ngIf="rating>=1 && rating<2">⭐</h1>

<!-- <img *ngIf="rating>=5"  src="/assets/5Star.jpg" alt="" width="100px" height="20px">
<img *ngIf="rating>=4 && rating<5"  src="/assets/4Star.jpg" alt="" width="100px" height="20px">
<img *ngIf="rating>=3 && rating<4"  src="/assets/3Star.jpg" alt="" width="100px" height="20px">
<img *ngIf="rating>=2 && rating<3"  src="/assets/2Star.jpg" alt="" width="100px" height="20px">
<img *ngIf="rating>=1 && rating<2"  src="/assets/1Star.jpg" alt="" width="100px" height="20px"> -->

