<!-- <p>dashboard works!</p> -->

<div class="mainContainer">

    <div class="leftContainer">
        <h2 class="websiteLogo">My Website</h2>
        <hr>
        <h4 class="menuTabs" routerLink="home">Home</h4>
        <h4 class="menuTabs" routerLink="welcome">Welcome</h4>
        <h4 class="menuTabs" routerLink="data-binding">Data Binding</h4>
        <h4 class="menuTabs" routerLink="calculator">Calculator</h4>
        <h4 class="menuTabs" routerLink="rectangle">Rectangle</h4>
        <h4 class="menuTabs" routerLink="circle">Circle</h4>
        <h4 class="menuTabs" routerLink="bmi">BMI</h4>
        <h4 class="menuTabs" routerLink="directives">Directives</h4>
        <h4 class="menuTabs" routerLink="event-registration">Event registration</h4>
        <h4 class="menuTabs" routerLink="employee-registration">Employee registration</h4>
        <h4 class="menuTabs" routerLink="employee">Employee</h4>
        <h4 class="menuTabs" routerLink="flipkart">Flipkart</h4>
        <h4 class="menuTabs" routerLink="vehicle">Vehicle</h4>
        <h4 class="menuTabs" routerLink="accounts">Accounts</h4>
        <h4 class="menuTabs" routerLink="amazon">Amazon</h4>
        <h4 class="menuTabs" routerLink="mail">Mail</h4>
        <h4 class="menuTabs" routerLink="photos">Photos</h4>
        <h4 class="menuTabs" routerLink="weather">Weather</h4>
        <h4 class="menuTabs" routerLink="blog">Blog</h4>
        <h4 class="menuTabs" routerLink="imdbMovies">Imdb Movies</h4>
        <h4 class="menuTabs" routerLink="pokeman">Pokeman-Carousal</h4>
        <h4 class="menuTabs" routerLink="social-profiles">Social Profiles</h4>
        <h4 class="menuTabs" routerLink="craeteVehicles">Create-vehicles</h4>
        <h4 class="menuTabs" routerLink="createAccounts">Create-accounts</h4>
        <h4 class="menuTabs" routerLink="studentidcard">Student-Id-cards</h4>
        <h4 class="menuTabs" routerLink="createIdcards">Create-Student-Id-cards</h4>
        <h4 class="menuTabs" routerLink="angularPractice">AngularPractice</h4>
        <h4 class="menuTabs" routerLink="bottomsheet">Bottomsheet</h4>
        <h4 class="menuTabs" routerLink="createuser">Create-User</h4>
        <hr>
        <button class="logoutButton" routerLink="/login" (click)="logOutComponent()">Logout</button>

    </div>
    <div class="rightContainer">
        <router-outlet></router-outlet>

    </div>
</div>
