*{
    box-sizing: border-box;
    margin: 0;
}

.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;

}
.leftContainer{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* line-height: 40px; */
    /* background-color: green; */
    overflow-y: scroll;
  
}
.websiteLogo{
    margin-bottom: 20px;

}
.websiteLogo:hover{

    color: red;
    transform: scale(1.2);
    transition:transform 0.3s ease-in-out;
}
hr{
    width: 100%;
    color: gray;
    
}
.menuTabs{
    color: gray;
    cursor: pointer;
    font-size: large;
    /* background-color: aqua; */
    line-height: 40px;
}
.menuTabs:hover{
    color: white;
}
.logoutButton{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.logoutButton:hover{
    transform: scale(1.1);
    transition:transform 0.3s ease-in-out;
    background-color: greenyellow;

}
.rightContainer{

    width: 80%;
    height: 100%;
    background-color: teal;
    /* padding: 20px; */
    overflow-y: scroll;
}