<!-- <p>amazon works!</p> -->
<div class="mainContainer">
  <div class="cards my-1" *ngFor="let product of products">
    <img
      class="image"
      src="{{ product.image }}"
      alt=""
      width="100px"
      height="200px"
    />
    <div class="rating">
      <span >{{ product.rating.rate }}</span>
    </div>
    <h4 class="category">{{ product.category }}</h4>
    <p class="title">
      {{ product.title | slice:0:40}} ...
    </p>
    <label class="price">{{ product.price }}</label>
  </div>
</div>
